body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  color: #222;
}

.navbar {
  background-color: #1e3a8a;
  color: white;
  padding: 25px;
  text-align: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.navbar button {
  margin-left: 15px;
  padding: 8px 14px;
  border: none;
  background-color: #ef4444;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.page {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 25px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card h2 {
  margin-top: 0;
  color: #1e3a8a;
}

.card p {
  color: #555;
}

input,
textarea {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #aaa;
  border-radius: 6px;
}

button {
  padding: 10px 16px;
  border: none;
  background-color: #2563eb;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.delete-btn {
  background-color: #dc2626;
}
.hero {
  background: linear-gradient(135deg, #1e3a8a, #2563eb);
  color: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 30px;
}

.hero h1 {
  margin: 0;
  font-size: 34px;
}

.hero p {
  font-size: 18px;
}

.search-area {
  background: white;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 25px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.search-area input {
  border: none;
  outline: none;
  max-width: 100%;
  font-size: 16px;
}

.file-link {
  display: inline-block;
  margin-right: 15px;
  background-color: #dbeafe;
  color: #1e40af;
  padding: 9px 13px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}
